@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');



.aboutusHero{
    height: 100vh;
    
    background: url('../../images/landingpage/bg/slider-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.aboutusHero > h1{
    font-family: Acme;
    font-size: 70px;
}
.heroSmallTitle{
    font-family: candara;
    font-size: 30px;
}

.overlay{
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
    
}

.bannertext_sm{
    font-size: 18px;
    font-family: Acme;
    color: #fff;
}
.bannertext_lg{
    font-size: 45px;
    font-family: Acme;
    color: #fff;
}
.hr{
    color: #fff; 
}
.hr > hr{
    border: 2px solid #fff;
    
}
.pathDiv{
    width: 100%;
}
.pathDiv >img{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 55vh;
    
}

.CEO_welcome{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 75vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.CEO_welcome > div{
    width: 50%;
    font-size: 15px;
    font-family: candara;
    font-weight: bold;

}

.CEO_welcome > div > span{
    
    font-family: Acme;
    margin: 10px;
}

.mission{
    width: 100%;
    min-height: 50vh;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.mission > div{
    flex:1 1 50%
}
.mission-title{
    font-weight: bold;
    font-family: Candara;
    font-size: 40px;
}
.mission-main{
    
    font-family: Candara;
    padding-bottom: 20px;
    font-size: 17px;
    color:#9DA8B6;
}
.mission-text{
    color: #ffce00;
}
.missionImg{
    width: 80%;
}
.imgIcon{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

@media only screen 
and (min-device-width: 200px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {
    .aboutusHero{
        height: 80vh;
    }
    .aboutusHero > h1{
        font-family: Acme;
        font-size: 35px;
    }
    .heroSmallTitle{
        font-family: candara;
        font-size: 15px;
    }
    .mission-title{
        font-weight: bold;
        font-family: Candara;
        font-size: 20px;
    }
    .mission-main{
        
        font-family: Candara;
        padding-bottom: 20px;
        font-size: 14px;
        color:#9DA8B6;
    }
    .mission > div{
        flex:1 1 100%;
        text-align: justify;
        margin: 10px;
    }
}