.getIntouch{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    min-height: 100vh;
    padding: 40px;
    flex-direction: column;
    margin-top: 40px;

}

.getIntouch > h1{
    letter-spacing: 5px;
    font-size: 40px;
    font-family: candara;
    margin-top: 20px;
}

.lightTextTouch{
    width:100%;
    display: flex;
    justify-content: center;
     margin-top: 5px;
     color: #9DA8b6;
     font-family: 'Jura',sans-serif;
     font-size: 16px;
}

.TitleGetInTouch{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.TitleGetInTouch >h1{
    letter-spacing: 5px;
    font-size: 40px;
    font-family: candara;
    margin-top: 20px;
}
.contactDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
  
}

.contactInfor{
    flex:1 1 calc(50%-20px);
    margin: 10px;
}
.contactForm{
    flex:1 1 calc(50%-20px);
    margin: 10;
    padding-right: 20px;
  
    

}

/* .contactDiv :first-child{
    flex:1 1 calc(40%);
    background-color: #9DA8b6;
}

.contactDiv :last-child{
    flex:1 1 calc(60%);
} */
.controlInput{
    margin-bottom: 10px;
    
}

.controlInput > input{
    border-radius: 15px;
    padding: 10px;
    font-family: candara;
}
.controlInput > textarea{
    border-radius: 15px;
    padding: 10px;
}

.submit{
    background-color: #ffc875;
    border: 1px solid #ffc875;
}

.spaceOut{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
    width: 100%;
    padding: 10px;
    

}
.spaceOut > div{
    text-align: center;
    font-family: candara;
    font-size: 16px;
    margin-left: 10px;
}

@media only screen 
and (min-device-width: 200px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {
    .getIntouch{
        display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    min-height: 100vh;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
        
    
    }
    .TitleGetInTouch{
        display: flex;
        width: 100%;
        
        
    }
    .TitleGetInTouch >h1{
        letter-spacing: 5px;
        font-size: 25px;
        font-family: candara;
        margin-top: 100px;
    }

    .lightTextTouch{
        width:100%;
       display: flex;
       justify-content: center;
        margin-top: 5px;
        color: #9DA8b6;
        font-family: 'Jura',sans-serif;
        font-size: 14px;
    }
    .contactDiv{
        flex-direction: column;
    }
    .contactDiv > div{
        flex:1 1 calc(100%);
      
        margin: 10px;
    
    }
    .spaceOut > div{
        font-size: 14px;
    }
}