.sendBTC{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 50vh;
    width: 100%;
    margin-top: 10px;
}

.back{
    cursor: pointer; 
    width: 25%;
    height: 30px;
    
}
.SendBody{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.SendBodyI{
    flex:1 1 50%;
    margin: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
    min-height: 50vh;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    background-color: #fff;
    
}
.SendBodyII{
    flex:1 1 50%;
    margin: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    height: 100%;
    min-height: 50vh;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    
}

.sendBTCFrom{
    font-size: 16px;
    font-family: Acme;
    padding: 10px;
    color:#3498db
}
.fromBTC{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cecece;
    
    border-radius: 5px;
}
.fromBTC span {
    font-family: Acme;
}
.fromBTC div{
    font-family: Acme;
}
.amount{
    display: flex;
    justify-content: center;
}
.amount input{
    border-radius: 5px;
    border: 1px solid #cecece;
    padding:10px;
    font-family: Acme;
   
    width: 100%;
}
.amount img{
    margin: 10px;
}
.toBTC input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding:10px;
    font-family: Acme;
}

.selectFee{
    display: flex;
    justify-content: space-between;
}
.selectedbox{
    width: 100%;
    margin: 5px;
    height: 100px;
    border: 1px solid #cecece;
    border-radius: 5px;
    font-family: Acme;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectedtype{
    font-family: Acme;
    font-size: 14px;
}
.selectedAmount{
    font-size: 12px;
    font-family: Acme;
    opacity: 0.5;
}
.sendFund{
    display: flex;
    border-radius: 5px;
    height: 30px;
    background-color: #3498db;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Acme;
    font-size: 14px;
    cursor: pointer;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
    
}
.errorBTCAddr{
    font-family: Acme;
    color:#ff0000
}
.dataBTCAddr{
    font-family: Acme;
    color:#003300
}
.currentRate{
    display: flex;
    justify-content: flex-end;
    font-family: Acme;
    font-size:16px;
    color: #27a127;
}