.productSection{
    width: 100%;
    height: 100%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0px 40px;
    
    

}
.newTitleOffer{
    font-family: 'Jura',sans-serif;
    font-size: 36px;
    color: #000; 
    margin-top: 100px;
}


.productFlex1{
    flex:1 1 calc(40% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: url('../../images/landingpage/bg/podium.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
   
  
}
.productFlex1 > h1{
    font-size: 38px;
    font-family: Acme; 
     
}

.productFlex2{
    flex:1 1 calc(60% - 20px);
    margin: 10px;    
}

.ImageProd{
    
    background: url('../../images/landingpage/bg/podium.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs-products{
    width: 100%;
    padding: 5px;
    background-color: #f2f2f2;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.tabs-products > div{
    
    font-size: 14px;
    flex:1 1 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.p2p{
    background-color: #fff;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color:#1c1c93;
    font-weight: bold;
    font-family: 'Jura',sans-serif;
    font-size: 40px;
    
}
.tab-content{
    width:100%;
    text-align: justify;
    padding:0px 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}
.normalTab{
    display: none;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 40px;
    margin-top: 5vh;
}
.product > h1{
    color:#000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 38px;
      font-family: Acme;
      font-weight: bold;
}
.extend{
    display: none;
}
@media only screen 
and (min-device-width: 200px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {

.newTitleOffer{
    font-family: 'Jura',sans-serif;
    font-size: 20px;
    color: #000; 
}


.productSection{
    
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;

}
.productFlex1{
    
    flex:1 1 calc(100% - 20px);
    background-position: center;
    
}
.extend{
    display: block;
}



.productFlex2{
    flex: 1 1 calc(100%);
    
}


    .tabs-products{
        width: 100%;
        font-size: 14px;
    }
    .tabs-products > div{
        text-align: center;
        font-size: 12px;
    }
    .product{
        width: 100%;
        padding: 20px;
    }
    .tab-content{
        width: 100%;
        font-size: 13px;
    }
    .ImageProd{
        width: 150px;
        height: 150px;
    }
    .ImageProd > img{
        width: 80%;
    }

}