.xsidebar{
    width: 200px;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* padding: 20px 40px; */
    padding-left: 25px;
    position: fixed;
    
}

Link{
    text-decoration: none;
}
.logo{
    width: 50%;
    
}
           
.logoContainer{
    margin-top: 20px;
}
.navigationContainer{
    margin-top: 40px;
}
.navigation{
   display: flex;
   flex-direction: row;
   margin-bottom: 25px;
   cursor: pointer;
}
.navigationIcon {
    flex: 0 0 20%;
    font-family: 'Jura',sans-serif;
    font-size: 16px;
}

.navigationText  {
    flex: 0 0 70%;
    font-family: 'Jura',sans-serif;
    font-size: 16px;
    padding-left: 10px;
    
}
.securityCaution{
   position: absolute;
   bottom: 0;
   background-color: #5D5FEF;
   border-radius: 10px;
   width: 80%;
   margin-bottom: 10px;

}
.caution{
    width: 100%;
    height: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
}

.securityImg{
    width: 100%;
    text-align: center;
}
.securityImg > img{
    width: 50%;
}
.keep{
    color: #fff;
    font-family: 'Jura',sans-serif;
    font-size: 13px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.tips{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.tips div{
    font-size: 10px;
    color: #fff;
    font-family: 'Roboto',sans-serif;
}
.update-privacy{
    width: 100%;
    color: #fff;
    font-family: 'Jura',sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.active{
    font-weight: bold;
    color: #0D6efd
}
.nonactive{
    color:#000
}
.logoybar{
    display: none;
}


@media screen 
and (min-device-width:200px)
and (max-device-width:700px)
{

    
    .xsidebar{
        display: none;
        width: 0px;
        height: 100%;
        min-height: 100vh;
        padding-left: 0px;
      
        margin-top: 0px;
        position: absolute
         
    }
    .securityCaution{
        display:none;
    }
    .navigationText{
        display: none;
    }
    .navigation{
        margin-bottom: 50px;
    }
   
     .navigationContainer{
        margin-top: 40px;
        
    }
    .logoxbar{
        display: none;
    }
    .logoybar{
        display: block;
        width: 70%;
    }
     
}
