.changepassword{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #e5e5e5;
}

.passwordResetFormDiv{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 500px;
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.circularPassword{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.errorChangepwd{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color:#ff0000;
}

@media screen 
and (min-device-width:200px)
and (max-device-width:499px)
{

    .changepassword{
       padding: 5px;

    }

    .errorChangepwd{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color:#ff0000;
    }

    .circularPassword{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .form{
        width: 100%;
        padding: 10px;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
       
    }
    .btn-size{
        font-size: 10px;
    }
    .newpassword{
        font-size: 12px;
        margin: 0px;
    }
    .cnewpassword{
        
        font-size: 12px;
        margin: 0px;
        
    }
    

}

@media screen 
and (min-device-width:500px)
and (max-device-width:600px)
{
    
    .changepassword{
        padding: 5px;
 
     }
 
     .errorChangepwd{
         width:100%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 12px;
         color:#ff0000;
     }
 
     .circularPassword{
         width: 30px;
         height: 30px;
         border-radius: 30px;
         background-color: #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
 
     .form{
         width: 100%;
         padding: 10px;
         height: 200px;
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         background-color: #fff;
         border-radius: 10px;
        
     }
     .btn-size{
         font-size: 14px;
     }
     .newpassword{
         font-size: 14px;
         margin: 0px;
     }
     .cnewpassword{
         
         font-size: 14px;
         margin: 0px;
         
     }

}