.changepassword{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #e5e5e5;
}

.passwordResetFormDiv{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 500px;
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.circularPassword{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}