@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');



.section_3{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-top: 40px;
    
}
.trade{
   flex:1 1 68%;
    height: 400px;
    box-shadow:1px 2px 3px 3px #ccc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.statistics{
    flex:1 1 30%;
    height: 450px;
    box-shadow:1px 2px 3px 3px #ccc;
    border-radius: 15px;
    text-align: center;
    padding:20px;
    margin-left: 20px;
    
    
}

.BTC{
    flex:1 1 50%;
    margin:10px;
    height:350px;
    box-shadow:1px 2px 3px 3px #ccc;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
.USDT{
    flex:1 1 50%;
    margin:10px;
    height:350px;
    box-shadow:1px 2px 3px 3px #ccc;
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
.btc_img{
    text-align: center;
}
.btc_img > img{
    width: 30%;
}
.bitcoin_text{
    font-family: candara;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}

.coin_text{
    width: 130px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: #FFB74A;
    font-size: 15px;
    font-family:candara;
    align-self: center;
    font-weight: bold;
    margin-top:12px;
    color:#fff;
    line-height: 27px;
}

.statistics_title{
    font-family: Acme;
    font-size: 25px;
    
}
.table_structure{
    display: flex;
    width: 100%;
    justify-content: start;
    padding:10px;
    align-items: center;
    
}
.text_statistics{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
    
}
.text_statistics > div{
    text-align: start;
    font-family: Acme;
    font-size: 15px;
}
.create-icon-circle_total{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #5341BF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-icon-circle_pending{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FFB74A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-icon-circle_success{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #4bb532;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-icon-circle_failed{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9494;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.create-icon-circle_declined{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #727c85;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.transaction-history{
    width:68%;
    height: 400px;
    border-radius: 15px;
    box-shadow:1px 2px 3px 3px #ccc;
    text-align: center;
    padding:20px;
    background-color: #fff;
}
.th-title{
    font-size: 25px;
    font-family: Acme;
}
.empty{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.empty > img{
    width: 10%;
}
.empty >div{
    font-size: 14px;
    font-family: candara;
}

.giftCard{
    width: 30%;
    height: 200px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow:1px 2px 3px 3px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.coin_gift_card{
    width: 130px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: #356986;
    font-size: 15px;
    font-family:candara;
    align-self: center;
    font-weight: bold;
    margin-top:12px;
    color: #fff;
    line-height: 27px;
    cursor: pointer;
}

