.tabSettings{
    
    flex-direction: row;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: flex-end;
    border: 1px solid #fff;
}
.tabSettings div{
    font-family: candara;
    font-size: 18px;
}
.tabSettings div:hover{
    /* border-bottom: 3px solid #2d9cdb; */
    cursor: pointer;
}
.tabDiv{
    flex:1 1 33.333%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.activeTab{
    border-bottom: 3px solid #2d9cdb;
    
}
.other-infor{
    display: none;
}

@media screen
and (min-device-width:200px)
and (max-device-width:399px)
{
    .other-infor{
        display: block;
    }
    .mobile-ref{
        display: flex;
        align-items: center;
    }
    .mobile-ref > div:nth-child(2){
        padding: 10px;
    }
    .ref-icon{
        margin-left: 5px;
    }
    .tabSettings div{
        font-family: candara;
        font-size: 14px;
    }
}

@media screen
and (min-device-width:400px)
and (max-device-width:700px)
{
    .tabSettings div{
        font-family: candara;
        font-size: 15px;
    }
    .other-infor{
        display: block
    }
    .other-infor{
        display: block;
    }
    .mobile-ref{
        display: flex;
        align-items: center;
    }
    .mobile-ref > div:nth-child(2){
        padding: 10px;
    }
    .ref-icon{
        margin-left: 5px;
    }
    

}

