.xtitle{
    display: block;
    padding-left: 200px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.notify{
   position: absolute;
   top:-10px;
   
}
.logoxbar{
    width: 45%
}
.Notification{
    position: relative;
}

.WelcomeClass{
    flex:1 1 40%;
    justify-content: flex-end;
    align-items: center;
}
.profilesection{
    flex:1 1 80%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    /* background-color: blue; */
    
}
.Hello{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
}
.dateHello{
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #000;
}

.WelcomeClass{
    padding-left: 20px;
}
.profileImage{
    width: 29px;
    height: 29px;
  
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.ProfileName{
    font-family: 'Jura',sans-serif;
    font-size: 14px;

}
.xcode{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
    padding: 0px 20px;
    cursor: pointer;
 
}

.dropdown{
    margin-top: 0px;
    top:-20px;
}
.hidenotify{
    display: none  !important;
}


@media screen 
and (min-device-width:200px)
and (max-device-width:800px)
{
   .profilesection{
    display: none !important;
   }
   .hidenotify{
        display: flex !important;
    }
    .cruise-exchange{
        top:-200px;
    }
    .xtitle{
        display: inline;
        padding-left: 0px;
        
       flex-wrap: wrap;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0px;
        margin-top: 0px;
        padding: 10px;
        
      
        
    }
    .xtitle > div{
        flex:0 1 50%;
        width: 100%;
    }
    .xtitle > div:nth-child(2){
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        padding-top: 20px;
        width: 100%;
       
        
    };

   
    .Hello{
       
        font-size: 15px;
        
    }
    .dateHello{
        font-size: 10px;
       
    }
    .profileImage{
        width: 15px;
        height: 15px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin-right: 30px;
    }
    
   
    .xcode{
        width: 100%;
    }

    .xcode > div{
        flex:1 1 cal(20px -33.3333%);
        
    }
    .WelcomeClass{
       flex:1 1 100%;
       width: 100%;
       margin-top: 10px;
       
        
    }
    
    /* .profilesection{
        flex:1 1 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        
    } */
    
    .notify{
        position: absolute;
        top:2px;
        left: 90%;
        
    }
    

}