.xtitle{
    display: block;
    padding-left: 200px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.notify{
   position: absolute;
   top:20px;
   
  
}

.WelcomeClass{
    flex:1 1 40%;
    justify-content: flex-end;
    align-items: center;
}
.profilesection{
    flex:1 1 80%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: blue; */
    
}
.Hello{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
}
.dateHello{
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #000;
}

.WelcomeClass{
    padding-left: 20px;
}
.profileImage{
    width: 49px;
    height: 49px;
    border-radius: 5px;
    
    text-align: center;
    cursor: pointer;
}
.ProfileName{
    font-family: 'Jura',sans-serif;
    font-size: 14px;

}
.xcode{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #fff; */
    padding: 0px 20px;
    cursor: pointer;
}
