.hero{
   
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background: url('../../images/landingpage/bg/slider-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 10s infinite;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    
 
}
.textI{
  color:#fff;
  letter-spacing: 3px;
}
.textParent{

  width: 80%;
  
  font-size: 25px;
  font-family: 'Jura'
}
.textSmall{
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Roboto';
  color:#fff;
  font-weight: bold;
}
.textI > span{
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: bold;
}

.content{
   width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* position: absolute;
    top: 20%; */
    
    
}
.content div{
    display: flex;
    justify-content: center
    
    
}

.cryptoText{
  font-family: Montserrat;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}
.slider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.title{
    font-size: 30px;
    font-family: candara;
    color: #fff;
}

.text{
    font-size: 60px;
    font-family: candara;
    color: #fff;
}

.button{
    margin: auto;
    text-align: center;
    
}
.button button{
    width:200px;
    height: 50px;
    border-radius: 15px;
    background-color: #ffc857;
    
}

.slide-right {
    animation: 3s slide-right;
  }


  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /***** Slide Left *****/
  .slide-left {
    animation: 3s slide-left;
  }


  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }

  .slide-up {
    animation: 3s slide-up;
  }


  @keyframes slide-up {
    from {
      margin-top: 100%;
    }
    to {
      margin-top: 0%;
    }
  }


  @keyframes slide-down {
    from {
      margin-top: -100%;
    }
    to {
      margin-top: 0%;
    }
  }



@keyframes slide {
    0%{
        background: url('../../images/landingpage/bg/slider-2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    67%{
        background: url('../../images/landingpage/bg/slider-3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* 67%{
        background: url('../../images/landingpage/bg/slider-3.jpg');
    } */
   

}

.cardHero{
  flex:1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.cardText{
  flex: 1 1 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 
}
.typewriterEffect{
  color:#fff;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.heroCard{
  width:70%;
  height:350px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.jupitIco{
  color: #343434;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Jura', sans-serif;

}
.discount{
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
.heroFlex{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.progressHigh{
  display: flex;
  width: 80%;
  height: 40px;
  border-radius:20px; 
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(5, 114, 206);
}

.amountHeroCard{
  padding-right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #1c1c93;
}

.progress-bar {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(5, 114, 206, 0.2);
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 3s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}
.counter{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 60px;
  margin-top: 20px;
  
}
.counter > div > span{
  font-size: 12px;
  margin-left: 5px;
}

.rulerII{
  margin-left: 25px;
  
}
.fixedprogressbar{
  width: 80%;
  margin-top: 0px;
  height: 41px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #0063ca;

}
.fixedtoken{
  width: 100%;
  margin-top: 40px;
  color: #1c1c93;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Jura', sans-serif;
}
.cardTextTitle{
  font-size: 50px;
  letter-spacing: 5px;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

.token{
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right top, #0079d9, #0063ca, #004db9, #0d36a7, #1c1c93);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}

.mastercard{
  margin-top: 10px;
  width: 20%;
  
  display: flex;
  justify-content: space-between;
}

@media only screen 
and (min-device-width: 200px) 
and (max-device-width: 600px)
and (-webkit-min-device-pixel-ratio: 2) {

  
  .hero{
    width: 100%;
    height: 100%;
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../images/landingpage/bg/slider-2.jpg');
    animation: none;
  }

  .cardText{
    margin-top: 100px;
    width: 100%;
    
  }
  .cardTextTitle{
    font-size: 30px;
  }
  .typewriterEffect{
    font-size: 14px;
  }

  .cardHero{
    
    padding: 20px;
    width: 100%;
  }

  .heroCard{
    width: 100%;
    height: 280px;

  }

  .discount{
    font-family: 'Jura', sans-serif;
    margin-top: 5px;
    font-size: 14px;

  }
  .counter{
    
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    
  }

  .fixedprogressbar{
    width: 100%;
    margin-top: 0px;
    height: 41px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #0063ca;
  
  }
  .fixedtoken{
    width: 100%;
    margin-top: 20px;
    color: #1c1c93;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jura', sans-serif;
  }

  .token{
    width: 150px;
    height: 30px;
    background-image: linear-gradient(to right top, #0079d9, #0063ca, #004db9, #0d36a7, #1c1c93);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
  }
  
  .mastercard{
    margin-top: 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  
  

 
.title{
  font-size: 17px;
  font-family: candara;
  color: #fff;
}

.cryptoText{
  font-size: 27px;
 
}



.button button{
  width:100px;
  height: 25px;
  border-radius: 10px;
  background-color: #ffc857;
  font-size: 12px;
  border: 1px solid #ffc857;
  
}





}