.hero{
    /* background-image: url('../../images/landingpage/bg/slider-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100vh;
    display: flex;
}
