.innovative{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    min-height: 100vh;
    height: 100%;
    padding: 100px;

}

.innovative1{
    flex:1 1 50%;
}
.innovative2{
    flex:1 1 50%;
}

.innovative-2a{
    font-size: 40px;
    font-weight: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: none;
}

.innovative-2b{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.innovative-2c{
    font-size: 25px;
    margin-top: 15px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.innovative-2d{
    margin-top: 15px;
    color: #ccc;
    font-family: candara;
    font-size: 18px;
}

.readmoreInnovative{
    width: 50%;
    height: 40px;
    background-color: #ffc857;
    color: #000;
    margin-top: 5px;
    border: 1px solid #ffc857;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}


.slide-right {
    animation: 1s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  .slide-left {
    animation: 1s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-right: -50%;
    }
    to {
      margin-right: 0%;
    }
  }

  @media only screen 
and (min-device-width: 200px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {

  .innovative{
    display: flex;
    flex-direction: column;
    padding: 40px;

}

  .innovative1{
    flex:1 1 100%;
    display: flex;
    justify-content: center;
}
.innovative1 >img{
  width: 80%;
  height: 50%;
  
}
.innovative2{
    flex:1 1 100%;
}
.innovative-2a{
  font-size: 18px;
  
}
.innovative-2b{
  font-size: 18px;
  
}
.innovative-2c{
  font-size: 16px;
  margin-top: 15px;
 
}

.innovative-2d{
  margin-top: 12px;
  color: #ccc;
  font-family: candara;
  font-size: 15px;
  text-align: justify;
  width: 100%;
}

.readmoreInnovative{
  width: 50%;
  height: 25px;
  background-color: #ffc857;
  color: #000;
  border: 1px solid #ffc857;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}


}
