.dashboard{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #EFF3FD;
    position: relative;
    
}

.tabCustom{
    display: none;
 

}
.myoffcanvas{
    
    background: rgba(28, 28, 147, 0.8) !important;
    width: 50%;
}
@media screen 
and (min-device-width:200px)
and (max-device-width:700px)
{

    .jupit-side-bar-logo{
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: flex-start;
        padding:0px;
        width: 100%;
        flex-direction: column;
        
        
        
    }

    .jupit-side-bar-logo > div{
        font-family: 'Jura' sans-serif;
        color: #fff;
        text-align: center;
        font-size: 11px;
    }



    .jupit-side-bar-logo > img{
        width: 70%;

    }


   
    .tabCustom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10%;
        padding: 20px;
        background-color: #fff;
        position: fixed;
        z-index: 1000;
        bottom: 0px;
    }
    .tabCustom > div{
        flex:1 1 cal(25%-20px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
       
        

    }
    .tabCustom > div>div{
        font-size: 12px;
    }
    .moreDiv{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }
    .moreDiv > div{
        font-size: 16px;
        color: #fff;
    }
    .moreDiv >div:nth-child(2){
        margin-left: 10px;
    }

}





