.dashboard{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #EFF3FD;
    position: relative;
    
}

.tabCustom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 55px;
    position: fixed;
    z-index: 10000;
    top:90%
      

}




