.section_1{
    align-items: center;
    height: 100px;
    padding: 20px;
}

.greetings > h1{
    font-size: 28px;
    font-family: candara;
    
}
.greetings span{
    font-weight: bold;
}

@media screen 
and (min-device-width:300px)
and (max-device-width:700px)
{
    .section_1{
        align-items: left;
        height: 100px;
        padding: 20px;
        display: none;

    }
    .greetings > h1{
        font-size: 18px;
        font-family: candara;
        
    }
}

