.linkStatic{
	color:#fff
}
.linkScroll{
	color:#000;
}

.whatsappIcon{
	position: fixed;
	top: 88vh;
	left: 93%;
	padding: 10px;
	z-index: 10000000000;
	background-color: #25D366;
	border-radius: 15px;
	cursor: pointer;
	
	
}