.linkStatic{
	color:#fff
}
.linkScroll{
	color:#000;
}

.whatsappIcon{
	position: fixed;
		top: 85%;
		
		left: 0;
		padding: 10px;
		z-index: 10000000000;
		border-radius: 15px;
		cursor: pointer;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

}
.whatsappcover{
	padding: 10px;
	border-radius: 10px;
	background-color: #25D366;

}

.tooltipDiv{
	width: 150px;
	border-radius: 15px;
	background-color:#25D366;
	font-size: 13px;
	font-weight: candara;
	line-height: 20px;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 55px;
	
	display: none;
	position: absolute;
}

.whatsappIcon:hover .tooltipDiv{
	display: block;
}

.my-nav-container{
	display: flex;
	width: 100%;
	height: 60px;
	flex-direction: row;
	justify-content: space-between;
  
	padding-left:30px;
	padding-right:30px;
	
	
  }
  
  .mynav{
	/* background-color: #61dafb; */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 70%;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	margin-top: 25px;
  }
  .mynav-item{
	font-family: Inter;
	font-size: 13px;
	font-weight: bold;
	align-self: center;
	color: #fff;
	
	cursor: pointer;
	
  }
  
  body{
	  background-color: #fff;
  }
  
  .mynav-item-scroll{
	font-family: Inter;
	font-size: 13px;
	font-weight: bold;
	align-self: center;
	color: #000;
	padding: 10px;
	cursor: pointer;
  }
  
  .mynav-item:hover{
	background-color: #1c1c93;
	color: #fff;
	border-radius: 10px;
	opacity: 0.5;
  }
  
  
  .create-button-signin{
	width:100px;
	height:35px;
	background-color: #fff;
	border-radius: 12px;
	cursor: pointer;
	display: flex;
	font-size: bold;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	margin-right:5px;
	font-family: Inter;
	border: 1px solid #000;
  }
  
  .create-button-register{
	width:100px;
	height:35px;
	background-color: #ffce00;
	border-radius: 12px;
	cursor: pointer;
	display: flex;
	font-size: bold;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-family: Inter;
	font-weight: bold;
  }
  
  
  .my-buttons{
	/* background-color: #ff0000; */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	
  }
                  
.activeClass{
	text-decoration: none;

	padding: 10px;
}
  .logo{
	text-align: start;
	/* background-color: #fff; */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	
  }

  .hamburg{
	display: none;
}




@media only screen 
and (min-device-width: 200px) 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2) {
	.my-nav-container{
		display: flex;
		justify-content: center;
		flex-direction: row;
		
	}
	
	
	.logo  img {
		width: 80%;
		
	}
	.mynav{
		display: none;
	}
	.my-buttons{
		display: none;
	}
	.hamburg{
		display: block;
		width: 50%;
		text-align: end;
		
	}
	.whatsappIcon{
		position: fixed;
		top: 88%;
		left: 0;
		padding: 5px;
		z-index: 10000000000;
		border-radius: 15px;
		cursor: pointer;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	
	}
	.tooltipDiv{
		margin-right: 70px;
	}
	.tag{
		display: flex;
		justify-content: flex-start;
		 padding: 19px;
		 cursor: pointer;
		
	   
	}
	.tagIcon{
	  padding: 0px;
	}
	.tagName{
		padding-left: 5px;
	  font-size: 16px;
	  font-family: Candara;
	  font-weight: bold;
	  color: #fff;
	  
	}


  
	
}
