.newWalletDiv{
    display: flex;
    width: 97%;
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    justify-content: space-between;
    
    
}

.newWalletDiv div{
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    background-color: #fff;
    padding: 5px;
}

.tabTransaction{
    width: 100%;
    
    height: 40px;
    background-color: #000;
}

.cardClassTab{
    display: flex;
    justify-content: space-between;
}