.auth{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}
.errorShowcase{
    margin-top: 10%;
}
.auth_reg{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.auth_reg > div{
    flex: 1 1 50%;
}

.auth > div{
    flex: 1 1 50%;
}
.error_red{
    font-size: 14px;
    font-family: candara;
    margin-top: 10px;
    color:#ff0000
}
.logoArea{
    background-color: #C6FCED;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logincred{
    font-size: 14px;
    font-family: candara;
}
.welcome-back{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.logoArea >img{
    width: 70%;
    animation: bounce 2s 
    infinite alternate; 
    margin-bottom: 30px;
}
.mobile-logo{
    display: none;
}

@keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-20px); } }

.formarea{
    align-self: center;
    text-align: center;
}
.formarea_reg{
    align-self: center;
    text-align: center;
}
.divForm{
    width: 100%;
    margin: 20px;
    text-align: left;
    
}

.myform{
    font-family: candara;
}

.formClass{
   display: flex;
   width: 100%;
   justify-content: center;
   
}
.formClassToken{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
 }
 .return{
     cursor: pointer;
 }
 .return span {
     font-family: candara;
     font-size: 14px;
 }

.form-input{
    width: 60%;
   
}
.mybtn{
    font-family: candara;
    background-color: #FFB74A;
}
.additional{
    text-align: left;
    margin-left: 20px;
    font-size: 13px;
    font-family: candara;
}

.create_account{
    font-weight: bold;
    color:#00E0BB;
    cursor: pointer;
    
}
.forgetpassword{
    margin-top: 5px;
    font-size: 13px;
    font-family: candara;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}
.new-customer{
    font-size: 13px;
    font-family: candara;
    font-weight: bold;
}

@media screen 
and (min-device-width:200px)
and (max-device-width:800px)
{
    .logoArea{
        display: none;
    }
    
    .auth{
        background-color: #fff;
    }
    .auth_reg{
        background-color: #fff;
        padding: 40px;
    }
    .form-input{
        width: 100%;
       
    }
    .myform{
        width: 100%;
        height: 50px;
        
    }

    .mobile-logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
        margin-top: 5%;
       
        
    }
    .desktop-logo{
        display: none;
    }
    .formarea{
       
        display: flex;
        justify-content: center;
        
        width: 100%;
        height: 100%;
        flex-direction: column;
       
        padding: 20px;
       
        
    }
    .welcome-back{
        margin-top: 5%;
        font-size: 18px;
        text-align: left;
        margin-left: 0px;
    }
    .logincred{
        font-size: 16px;
        text-align: left;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .logincred_reg{
        font-size: 16px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .formClass{
        
        display: flex;
        justify-content: center;
        
        width: 100%;
        
     }
     .divForm{
        width: 100%;
        margin: 0px;
        text-align: center;
        margin-bottom: 10px;
        
    }

     .formarea_reg{
       
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding:20px;
        padding-top:20px;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
    
        /* background-color: #00E0BB; */
        
        
    }
    .mybtn{
        margin-top: 10px;
    }
    
   
}