.auth{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url('../../images/crypto.jpg');
    flex-direction: column;
    flex-wrap: wrap;
}

.divCover{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    min-height: 100vh;
}




.authCard{
    width: 40%;
    min-width: 50vh;
    min-height: 50vh;
    height: 100%;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}

.mylogo_new{
    
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}
.welcomeback{
    width: 100%;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
}
.logincred{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
}
.mylogo_me{
    width: 20%;
}

.formClass{
    padding: 20px;
}
.divForm{
    padding: 10px;
}
.divForm >input{
    height: 50px;
}
.mybtn {
    background-color:  #FFB74A !important;
    
}
.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.additional > span{
    margin: 10px;
}

.forgetpassword{
    font-size: 13px;
    font-family: 'Jura' sans-serif;
    letter-spacing: 1px;
}

@media screen 
and (min-device-width:200px)
and (max-device-width:399px)
{

    .mylogo_me{
        width: 25%;
    }
    .welcomeback{
        font-size: 14px;
    }
    .logincred{
        width: 100%;
        text-align: center;
        align-self: center;
        font-size: 12px;
        font-family: 'Roboto',sans-serif;
        letter-spacing: 0px;
    }
    .divForm >input{
        height: 40px;
    }

    .forgetpassword{
        font-size: 12px;
        font-family: 'Jura' sans-serif;
        letter-spacing: 0px;
    }

    
.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.additional > span{
    margin: 10px;
    font-size: 12px;
}
.create_account{
    font-size: 12px;
}
    

    
}


@media screen 
and (min-device-width:400px)
and (max-device-width:800px)
{

    .authCard{
        width: 80%;
    }
}