.auth{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url('../../images/crypto.jpg');
    flex-direction: column;
    flex-wrap: wrap;
}

.divCover{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    min-height: 100vh;
}




.authCard{
    width: 40%;
    min-width: 50vh;
    min-height: 50vh;
    height: 100%;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}

.mylogo_new{
    
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}
.welcomeback{
    width: 100%;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
}
.logincred{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
}
.mylogo_me{
    width: 20%;
}

.formClass{
    padding: 20px;
}
.divForm{
    padding: 10px;
}
.divForm >input{
    height: 50px;
}
.mybtn {
    background-color:  #FFB74A !important;
    
}
.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.additional > span{
    margin: 10px;
}

.forgetpassword{
    font-size: 13px;
    font-family: 'Jura' sans-serif;
    letter-spacing: 1px;
}