.bodyClass{
  
    min-height: 100vh;
    height: 100%;
    width: 80%;
    margin-left: 260px;
    padding: 20px;
    
}

.bodyClass-collapse{
    width: 92%;
    margin-left: 100px;
    padding: 20px;
    
}
.kyc_tab{
   
    width: 80%;
    background-color:#fff;
    margin-left:20px;
 
}

@media screen
and (min-device-width:300px)
and (max-device-width:700px)

{
    .kyc_tab{
        
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-left:0px;
        margin-top: 0px;
        
    }
   
    
}