/* .bodyClass{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: blue;
    margin-left: 200px;
    padding: 20px;
    
}

.bodyClass-collapse{
    width: 92%;
    margin-left: 100px;
    padding: 20px;
    
} */

.bodyOpen{
    width: 100%;
    margin-top: 40px;
    padding-left: 200px;
    

}