.body_section2{
    width:100%;
    
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    
    
}


.marketTransaction{
    flex: 1 1 60%;
    margin: 10px;
    background-color: #fff;
    height: 450px;
}

.walletbalance{
    flex: 0 0 40%;
    border-radius: 15px;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    width: 100%;
    min-height: 450px;
    position: relative;
    

}


.walletBalanceTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 3;
    padding: 20px;
}

.balanceWallet{
    font-family: 'Jura',sans-serif;
    font-size: 18px;
    
}

.marketTitle{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Jura',sans-serif;
    font-size: 18px;
}

.trans{
    width: 45px;
    height: 35px;
    border-radius: 10px;
    background-color: #fff;
    margin: 5px;
    font-family: 'Jura',sans-serif;
    font-size:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.transFlex{
    border: 1px solid #00DEA3;
    
}

.activeX{
    display: none;
    
}


.transXflex{
    border: 2px solid #f2f2f2;
    
    
}
.walletAmount{
    font-size: 18px;
    font-family: 'Jura',sans-serif;
}


.transDiv{
    display: flex;
    
}


.walletAmount span{
    font-size: 25px;
}

.amountWallet{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.amountWallet img{
    width:8%
}
.amountWallet div{
    font-family: 'Jura',sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.amoutInWallet{
    margin-top: 10px;
    font-family: 'Jura',sans-serif;
    font-size: 34px;
    color: #3498db;
    font-weight: bold;
}

.walletCard{
    margin-top: 10px;
    
}
.walletCard img{
    width: 100%;
}
.designcover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type{
    width: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #fff; 
    font-weight: bold;
    padding: 4px;
    padding-right: 5px;
    cursor: pointer;
    position:absolute;
    z-index: 2;
    display: none;
    margin-top: 30px;
    

}
.typeBody{
    width: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #fff; 
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
    padding-right: 5px;
    cursor: pointer;
    position:absolute;
    z-index: 2;
    display: none;
    margin-top: 35px;
}

.typeBody >div{
    font-size: 14px;
    font-family: 'Jura',sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
}

.showtype{
    display: flex;
    border-radius: 5px;
    transition:all 0.5s ease-in-out 0s;
    
}
.type div{
    font-family: 'Jura',sans-serif;
    font-size: 12px;
    padding: 4px;
}

.cardDesign{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-self: center;
   
    
}
.cardBTC{
    width: 100px;
    min-height: 100%;
    height: 200px;
    background-color: #d4af37;
    border-radius: 5px;

}

.cardUSDT{
    width: 100px;
    min-height: 100%;
    height: 200px;
    background-color: #259c77;
    border-radius: 5px;
}

.cardNAIRA{
    background-color: #1c1c93;
    width: 100px;
    min-height: 100%;
    height: 200px;
    border-radius: 5px;
}

.cardNairaCover{
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 50%;
   padding-left: 20px;
   padding-right: 20px;
   
}

.cardNaira{
    width: 100%;
    height: 100%;
    background-color: #1c1c93;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    /* background: url('../../images/utility/Ornament.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

    
}



.cardNairaBTC{
    width: 100%;
    height: 100%;
    background-color: #d4af37;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    /* background: url('../../images/utility/Ornament.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

    
}


.cardNairaUSDT{
    width: 100%;
    height: 100%;
    background-color: #259c77;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    /* background: url('../../images/utility/Ornament.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

    
}


.overlay{
    width: 100%;
    height: 100%;
    background: url('../../images/utility/Ornament.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    opacity: 0.3;
}
.card_section_a{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    
}
.card_section_a div{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.card_section_main{
    color: #fff;
    font-family: 'Jura',sans-serif;
    font-size: 14px;
}

.card_section_balance{
    color: #fff;
    font-family: 'Jura',sans-serif;
    font-size: 25px;
    font-weight: bold;

}
.card_section_c{
    display: flex;
    justify-content: space-between;
}
.card_section_c div{
    font-family: 'Jura',sans-serif;
    font-size: 12px;
    color: #fff;
}
.balanceType{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Jura',sans-serif;
}

.rendercomponent{
    width: 90%;
    height: 100%;
    overflow:hidden;
    position: absolute;
    margin-top: -40px;
    z-index: 1;
 
}

.ViewAllAsset{
    position: absolute;
    z-index: 3;
    bottom: 10%;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slideCardLeft{
    animation: 1s slide-right;
    overflow: hidden;
    
  }
.slideCardRight{
    animation: 1s slide-left;
}

.card_section_balance_equivalent{
    font-family: 'Jura',sans-serif;
    color: #000;
    font-size: 12px;
}



  @keyframes slide-right {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  

  @keyframes slide-left {
    from {
      margin-right: -50%;
    }
    to {
      margin-right: 0%;
    }
  }

  .Usdt{
    width: 200px;
    height: 50px;
    color: #fff;
    border-radius: 15px;
    background-color: #259c77;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;

  }
  .Btc{
    width: 200px;
    height: 50px;
    color: #fff;
    border-radius: 15px;
    background-color: #d4af37;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;

  }
  .Naira{
    
        width: 200px;
        height: 50px;
        color: #fff;
        border-radius: 15px;
        background-color: #1C1C93;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        align-self: center;
      
  }