.giftcardBody{
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction:column ;
}
.giftcardTab{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    

}

.giftcardTab >div{
    width: 15%;
    padding: 10px;
    font-family: 'Jura';
    font-size: 18px;
    cursor: pointer;
}
.activegiftcardTab{
    border-bottom: 2px solid #009EDB;
}
.giftCardView{
    width: 100%;
    display: flex;
}

.buybody{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: aquamarine;
}

.flagSize{
    width: 25%;
}

.cardParent{
    margin-top: 20px;
}
.cardPickedParent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cardPickedParent > div:nth-child(2){
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Jura',sans-serif;
    font-weight: bold;
}
.cardPicked{
    width:25%;
    height:150px;
    border-radius: 20px;
    border: 0px solid #e5e5e5;
}
.currencyBtn{
    width: 25%;
    height:50px;
    background-color: #0d6efd;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}


.sellbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 100vh;
    height: 100%;
    padding-bottom: 50px;
    
}

.formProgress{
    flex:1 1 20%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: baseline;
    
}
.displayCardParent{
    display: flex;
    flex-wrap: wrap;

}
.displayCardParent > div{
    flex: 0 1 calc(25% - 20px);
    height: 100px;
    margin: 10px;
}
.giftCardDiv{
    
   width: 100%;
   height: 100%;
  

 
   
}
.FormDiv{
    flex:1 1 80%;
    min-height: 40vh;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px

    
}


.selectbutton{
    color: #009EDB;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
    
    
}
.myformSell{
    display: flex;
    height: 70px;
    width:80%;
    margin-top: 20px;
   
}
.formbtn{
    width:80%;
}
label{
    font-size: 12px;
}
.proceedForm{
    background-color: #3498db;
    color: #fff;
    margin-top: 20px;
}


.optionX{
    height: 50px;
}

.rateDiv{
    width: 80%;
    min-height: 30vh;
    height: 100%;
    display: flex;
    
    
}

.Selectrate{
    flex: 1 1 70%;

    height: 150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.quantityDiv{
    margin-top: 30px;
    width: 80%;
    
}

.mynewCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    padding: 10;
   

}
.mynewCartTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    
    padding: 10px;
   

}
.mynewCartTitle >div{
    flex: 0 1 calc(33.33%);
    color:#9e9e9e;
}

.mynewCart > div{
    flex: 0 1 calc(33.33%);
    color:#000;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}
.buyrateDiv{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 25px;
}
.calculator{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cartSummary{
    flex: 1 1 40%;
    padding-left: 10px;
}

.formProgress{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.vr {
    width:10px;
    height:100px;
    background-color:#000;
   
    top:0;
    bottom:0;
    left:150px;
}

.progressLine{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
    width: 100%;
    
    
}
.progressCircle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 5px solid #dedede;
}
.dot{
    background-color: #3498db;
}

.progressStep{
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 18px;
}

.floatingnumber{
    width: 100px;
    text-align: center;
    font-size: 25px;
}
.floatingselectAmount{
    width: 150px;
}
.sum{
    font-size: 20px;
}
.cartplus{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.displayCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #dedede;
    padding: 7px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    
    
}

.displayCard > img{
    
    display: flex;
    width: 35%;
    
    border-radius: 10px;
}
.displayCard > div{
    padding-left: 10px;
    
    margin: 5px;
    font-size: 13px;
    font-family: 'Roboto';
    text-align: left;
    

}
.brandselectederror{
    border-radius: 10px;
    background-color: #009EDB;
    color:#fff;
    font-family: 'Roboto';
    font-size: 13px;
    width: 150px;
    height: 20px;
    text-align: center;
}

.brandselectedSpan{
    font-size: 13px;
    color:#000;
    text-align: center;
    width: 100%;
}
.searchBrand{
    margin-bottom: 10px;
    height: 100%;
}
.searchBrand > input{
    font-size: 14px;
    font-family: 'Roboto';
}
.activeClicked{
background-color: #1c1c93;
color:#fff
}
.brandFlex{
    display: flex;
    width: 70%;
    flex-direction: column;
}

.imgBrand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.imgBrandDetails{
    width: 100%;
    margin-right: 20px;
}
.brandTitle{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;

}
.currency{
    display: flex;
    align-items: center;
}
.brandlistname{
   
   width:100%;
   display: flex;
 
   font-size: 14px;
   font-family: 'Roboto';
}

.selectTool{
    margin-top: 20px;
}

.country{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:10px;
    justify-content: center;
}


.country_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #cecece;
    padding:10px;
    border-radius: 5px;
    flex-direction: row;
    background-color: #1c1c93;
    margin-top: 5px;
}
.arrow{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}
.brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.brandlogo > img{
    width: 30%;
    border: 10px;
}
.brandname{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Jura',sans-serif;
    color: #fff;
}

.countryParent{
    display: flex;
    flex-wrap: wrap;
}

.countryParent > div{
    flex: 0 1 calc(33.333% - 20px);
    margin: 10px;
}

.countryFlag{
    display: flex;
    justify-content: space-between;
    padding:10px;
    border: 1px solid #009EDB;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.flagIconText{
    display: flex;
    flex-direction: column;
}
.currencySet{
    font-size: 14px;
    font-family: 'Roboto';

}
.activeCurrency{
    border: 2px solid #1c1c93;
}
.selectForm{
    display:flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.selectFormBuy{
    display:flex;
    width: 80%;
    flex-direction: column;
    height: 30vh;
    
}
.sumbalanceDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    
}
.sumbalance{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}

.buyrate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
.displaycard_cart{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.space{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.space > div{
    flex:1 1 50%
}
.space > div:nth-child(2){
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropArea{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    background-color: #e5e5e5;
    border-radius:5px;
    align-items: center;
}
.dragndrop{
    width: 100%;
    display: flex;
    justify-content: center;
    

}
.dnd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    border-radius: 5px;
    background-color: #e5e5e5;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;

}


.dnd> div > p{
    font-size: 14px;
}
.selectImagePrev{
   width: 100%;
   
}

.selectedImagePrevDiv{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin:10px;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;

    
}
.ImagePreview{
    width: 100%;
    /* background-color: #009EDB; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}
.ImagePreview > div{
    
    flex:0 0 calc(15%);
    margin: 5px;
}

.close{
    position: absolute;
    top:0px;
    
    display: flex;
    width: 100%;
    
    justify-content: flex-end;
}
option{
    padding: 3px 0;
}
.mySelect{
   padding: 5px;
   font-size: 14px;
}

.submitGiftcard{
    margin-top: 20px;
    width: 80%;
   
}

.submitGiftcardBuy{
    margin-top: 50px;
    width: 80%;
   
}
.buySelect{
    margin-top: 50px;
}

.submitGiftcardBuy >input{
    background-color: #5d2d8c;
    color:#fff
}
.submitGiftcard >input{
    background-color: #0079D9;
    color: #fff;
}

@media screen
and (min-device-width:200px)
and (max-device-width:400px)
{
    .country{
        padding-bottom: 20px;
    }
    .dnd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border-radius: 5px;
        background-color: #e5e5e5;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
    
        padding: 50px;
    }
    .buyrateDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Jura',sans-serif;
    }
    .currencyBtn{
        width: 100%;
        height:50px;
        background-color: #0d6efd;
        align-items: center;
        border-radius: 15px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    
    }
    .cardPickedParent{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .cardPickedParent > div:nth-child(2){
        margin-left: 10px;
        font-size: 18px;
        font-family: 'Jura',sans-serif;
        font-weight: bold;
        

    }
    .cardPicked{
        width:100%;
        height:150px;
        border-radius: 20px;
        border: 0px solid #e5e5e5;
    }
    .quantityDiv{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        
    }
    .mynewCartTitle{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        
        padding: 0px;
       
    
    }
    .mynewCartTitle >div{
        flex: 0 1 calc(33.33%);
        color:#9e9e9e;
        margin-top: 10px;
        
        
    }
    .mynewCart > div{
        flex: 0 1 calc(33.33%);
        color:#000;
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
    }
    .mynewCart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
       
       
    
    }
    .countryParent{
        display: flex;
        flex-wrap: wrap;
    }
    .country_div{
        margin-bottom: 10px;
    }
    
    .countryParent > div{
        flex: 0 1 calc(100% - 20px);
        margin: 0px;
        margin-bottom: 10px;
    }

    .displayCardParent{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    
    }
    .displayCardParent > div{
        flex: 0 1 calc(100% - 10px);
        height: 100px;
        margin-bottom: 10px;
    }

    .displayCard > img{
    
        width: 10%;
        border-radius: 10px;
    }
    

    .space{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .space > div{
        font-size: 12px;
    }
    .displaycard_cart{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        justify-content: space-between;
        align-items: center;
    }
    .displaycard_cart > div{
        flex: 0 0 cal(33.333%- 20px);
        margin:10px
    }
    .flagIconText > img{
        width: 30%;
    }
    .giftcardBody{
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction:column ;
        
    }
    .reverse{
        flex-direction: column-reverse;
        display: flex;
       
        justify-content: center;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    .brandlogo{
        width: 30%;
        
    }

    .giftcardTab{
        display: flex;
        width: 100%;
        justify-content: center;
        
    
    }
    
    .giftcardTab >div{
        width: 50%;
        padding: 10px;
        font-family: 'Jura';
        font-size: 18px;
        cursor: pointer;
    }
    .giftCardView{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .sellbody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px;
        height: 100%;
        
        
        
    }
    .giftCardDiv{
        flex:1 1 100%;
        min-height: 80vh;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 10px;
        
        
    }
    .FormDiv{
        flex:1 1 100%;
        min-height: 30vh;
        height: 20%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0px;

        
    }
    .selectFormBuy{
        display:flex;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        height: 100%;
        min-height: 70vh;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .sumbalanceDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        padding: 10px;
      
        
        
    }
    .sumbalance{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 14px;
        font-family: 'Roboto',sans-serif;
        margin-top: 10px;
    }
    .buySelect{
        margin-top: 0px;
        padding: 10px;
        background-color: #fff;
        width: 100%;
    }
    .submitGiftcardBuy{
        margin-top: 50px;
        padding: 10px;
        display: flex;
        width: 100%;
        
       
    }

    .displayCard > img{
    
        flex:1 1 10%;
        width: 25%;
        border-radius: 10px;
    }
    .giftcardTab > div{
        font-size: 13px;
    }
    .selectForm{
        display:flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        min-height: 50vh;
        padding: 20px;
        height: 100%;
    }
    
}

