table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 0px;
  }
  /* th{
    background-color: #ccc;
  } */
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-family: 'Jura',sans-serif;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .searchDiv{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 16px;
    font-family: 'Jura',sans-serif;
    
    
  }
  .searchTable{
    padding: 5px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-family: 'Jura',sans-serif;
    line-height: 25px;
    border-radius: 10px;
    margin-left: 5px;
    
  }
  .globalClass{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px; 
  
    
  }
  .buttonNextPrev{
    width: 30%;
    display: flex;
   
    justify-content: space-around;
  }
  .buttonNextPrev div{
    font-size: 14px;
    cursor: pointer;

  }
  .PrevNextCover{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }