.transaction{
    
    min-height: 80vh;
    height: 100%;
    
    border-radius: 15px;
    background-color: #fff;
    margin-top: 20px;
    padding:20px;
    text-align: center;
}


.th-title{
    font-size: 25px;
    font-family: Acme;
    
}
.notifyDiv{
    width: 100%;
    border-radius: 10px;
    min-height: 100px;
    background-color: #e5e5e5;
    text-align: left;
    padding: 10px;
    font-family: Acme;
    display: flex;
    flex-direction: row;
   margin-top: 10px;
}
.vNotification{
    padding: 20px;
}

.notifyDiv div{
    font-family: Acme;
   
}
.notifyMessage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.notifyMessage >div{
    color: #1c1c93;
    font-size: 25px;
}

.notifyAmount{
    color: #1c1c93;
    font-size: 25px;

}
.notifyDiv small{
    font-family: candara;
    font-weight: bold;
}
.notify-flex-1{
    flex:1 1 90%;
    
}
.notify-flex-2{
    flex:1 1 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty H1{
    font-size: 28px;
    font-family: Acme;
    display: flex;
    justify-content: center;
    align-items: center;

}

.red{
    color: #ff0000;
}
.green{
    color: #003300;
}
.iconbtc{
    color:#ffcc40
}

.iconusdt{
    color:#259c77
}

.infor{
    color: #1c1c93;
}
.notifyTitle{
    font-size: 25px;
    padding:5px;
    font-family: candara;
    font-weight: bolder;
}
.modalNotification{
  
  width: 100%;
  
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.list div{
    flex:1 1 50%;
    display: flex;
    justify-content: start;
    padding: 5px;
    font-family: Acme;
}
.spinner{
    width: 10%;
}